-e git://github.com/stephenmcd/mezzanine.git#egg=mezzanine
-e git://github.com/stephenmcd/cartridge.git#egg=cartridge

docutils==0.9
feedparser==5.1.2
python-dateutil==2.1
slimmer==0.1.30
django-compressor==1.5
