
/* General */
body {background:#fff;}
p, li, .mentions {color:#777; line-height:19px;}
p {margin:20px 20px 0 0;}
a {color:#197499;}
.row {padding:30px 0 15px 0;}
.fill {background:rgb(229, 226, 222);}
.container .fill {border-radius:5px;}
.topbar {height:40px;}
.hr {height:3px;}

/* Logo and headings */
h1, h2, h3 {margin-left:0 !important;}
h1 {
    font-family:'Yanone Kaffeesatz'; font-size:35px; color:#fff; float:left;
    line-height:150px; width:150px; height:150px; text-align:center;
    margin:30px 25px 10px 0; border-radius:1000px; background:rgb(189, 54, 47);
}
h2, h3 {color:rgb(189, 54, 47);}
h2, h3 {font-size:22px; line-height:24px;}
h2 {padding:50px 100px 10px 0;}
h3 {margin-bottom:20px;}
.fork {position: absolute; top: 0; right: 0; border: 0;}

/* Header for sub-sections (sites, IRC) */
.topbar-alt {height:auto; margin:0 -20px !important;}
.topbar-alt img {width:50px; height:50px; margin:10px 0; float:left;}
.topbar-alt h3 {float:left; margin:23px 0 0 10px !important;}

@media (max-width:979px) {
  .topbar-alt {padding:0 20px !important;}
}

/* Rotating quotes */
.quotes li {list-style-type:none; display:none;}
.quotes .first {display:block;}
.quotes em {
  display:block; margin:5px 0; text-indent:3px; font-size:16px;
  font-family:georgia, serif; line-height:20px; color:#999;
}
@media (max-width:480px) {
  h1 {margin-bottom:30px;}
  h2, .quotes {margin:20px 0 0 0;}
  .quotes li {height:80px;}
}

/* Right hand col */
.right p, .right pre {margin:20px 15px;}
.right h3 {color:#444; text-align:center;}
.right-fill {padding:10px 0;}

/* Right col drop-down buttons */
.btn, h1, h2, h3 {text-transform:uppercase;}
.btn-group {margin:5px 30px 15px 10px;}
.btn-danger {background:rgb(189, 54, 47); font-weight:bold;}
.btn-danger img {vertical-align:middle; margin:-6px 3px 0 0; opacity:.6;}
.btn-danger:hover img, .open img {opacity:.9;}
.btn-group ul {width:248px;}
.dropdown-menu, .dropdown-toggle {width:100%;}

/* Demo credentials */
.login {text-align:center; font-size:14px; font-weight:bold; padding:15px 20px 15px 0; margin:0 10px;}
.login label {display:inline; margin:0 0 0 10px;}
.login span {white-space:nowrap;}

/* Quick start code */
pre {
    text-transform:none; background:#222; color:#08c; padding:15px;
    font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
}
pre em {color:#555;}

/* Right-hand col links */
.links img {
    background:rgb(189, 54, 47); margin:-5px 10px 0 0; border-radius:5px;
    padding:7px; vertical-align:middle;
}
.links {margin:30px 0 0 0;}
.links li {margin:20px; white-space:nowrap;}
.links a {text-transform:uppercase; font-weight:bold; color:#444; font-size:16px;}

/* Donate */
.donate {text-align:center; margin-bottom:20px;}
.donate p {text-align:left; padding:5px; margin-right:0; margin-bottom:10px; font-style:italic;}
.donate iframe {margin:20px 20px 0 -10px;}
.donate form {display:inline;}
.donate input {margin-top:10px;}

/* Sites carousel */
#using {margin:40px 0 -10px 0;}
#sites {text-align:center; margin:30px 20px 20px 0; padding:10px 0;}
#sites img {max-width:24%; margin:15px; box-shadow:0 0 10px #666; border-radius:3px;}
.carousel-control {margin-top:0; background:#197499;}
@media (max-width:480px) {
  #sites img {max-width:20%;}
  .carousel-control {margin-top:-15px;}
  #sites .left {margin-left:-30px;}
  #sites .right {margin-right:-30px;}
}
.carousel .all {color:#999; font-style:italic; line-height:30px;}

/* All sites gallery */
.all-sites .fill {border-radius:0; text-align:center; overflow:hidden; height:18px;}
@media (max-width:480px) {
  .topbar-alt h3 {font-size:16px;}
  .all-sites .thumbnails li {margin-left:20px !important;}
}

/* Features list */
.features {padding-top:0;}
.features li {margin:0 0 5px 16px; list-style-type:square;}
@media (min-width:979px) {
  #features-devs {margin-left:90px;}
}

/* Footer */
footer {box-shadow:inset 0 0 30px rgba(39, 26, 22, .1); margin-top:30px;}
footer .container {padding:40px 20px;}
.mentions {padding-top:0; padding-bottom:0; margin-top:0; margin-bottom:0;}
.mentions .span4 {margin-bottom:15px;}
.mentions em {color:#999; white-space:nowrap;}
.credits {text-align:center; margin:50px 0;}
.credits, .credits a {font-size:12px;}
.sep {display:inline; margin:0 5px;}
@media (max-width:767px) {.sep {width:1px; height:1px; visibility: hidden; display:block;}}
.credits img {margin:30px 10px;}
#contributors {display:none;}
#contributors li {float:left; width:50%; list-style-type:square;}
@media (max-width:480px) {
  .contributor-link {display:block;}
}

/* Gnotty */
.chat {padding:0 !important;}
.chat .row {padding:10px 0 !important;}
.chat #input {margin-left:-20px;}
.powered {padding:6px 0 !important;}
.gnotty-nav {margin-top:13px;}
.gnotty-nav .btn-group {margin-top:7px;}
.gnotty-nav .dropdown-menu {margin-right:-20px; min-width:110px; max-width:110px;}
.table-striped h2 {padding:0;}
.table-striped h2 a, .calendar a {color:rgb(189, 54, 47);}
.table-striped .btn-primary {text-transform:none; text-decoration:none;}

/* Appsembler */
.appsembler .signup {margin-top:30px;}
.appsembler .btn {float:left;}
.appsembler .appsembler-logo {margin-left:40px; margin-top:-10px;}


@media (max-width:979px) {
  .gnotty-nav {display:none;}
}

@media (max-width:767px) {
  .chat {margin-left:10px !important;}
}
