{% extends "mezz_base.html" %}

{% block extra_js %}
<script>
$(function() {
    $('ul a').each(function(i, a) {
        a = $(a);
        a.before('<a href="' + a.attr('href') + '"><img src="http://images.shrinktheweb.com/xino.php?stwembed=1&stwsize=xlg&stwhash=ab8d131bf9&stwaccesskeyid=b17ffbafd0c5e10&stwurl=' + encodeURIComponent(a.attr('href')) + '"></a><br>');
        a.parent().show();
    });
});
</script>
{% endblock %}

{% block extra_css %}
<style>
    #main {width: 960px;}
    ul {width:auto;}
    li {width:280px; height:240px; float:left; text-align:center;
                margin:20px; display:none;}
    li img {width:280px; height:213px;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    -webkit-box-shadow: 0px 0px 15px #999999;
	    -moz-box-shadow: 0px 0px 15px #999999;
	    box-shadow: 0px 0px 15px #999999;
	    margin-bottom:5px;
    }
    p {margin:30px auto; width:auto; text-align:center;}
</style>
{% endblock %}

{% block main %}
<p>
These sites are powered by Mezzanine.<br>You can add your own site to this gallery by
<a href="https://github.com/stephenmcd/mezzanine/edit/master/README.rst">editing the README on Github</a>.
<br>Please note that this will create a fork of Mezzanine under your Github account.
</p>
<ul>
{% for site in sites %}
<li>{{ site|safe }}</li>
{% endfor %}
</ul>
<br clear="all">
{% endblock %}
